[[:app "pmeta-shift-c" :toggle-console]
 [:app "pmeta-=" :window.zoom-in]
 [:app "pmeta-shift-n" :new-file :set-syntax]
 [:app "pmeta-shift-r" :clear-console]
 [:app "pmeta-shift-s" :save-all]
 [:app "pmeta-shift-t" :show-connect]
 [:app "pmeta-shift-w" :workspace.show]
 [:app "pmeta--" :window.zoom-out]
 [:app "pmeta-0" :window.zoom-reset]

 [:editor "ctrl-b" :editor.sublime.goToBracket]
 [:editor "shift-pmeta-d" :editor.sublime.duplicateLine]
 [:editor "pmeta-shift-d" :editor.doc.toggle]
 [:editor "pmeta-shift-e" :lt.plugins.lt-expectations/run-expectations-curr-file]
 [:editor "pmeta-;" :toggle-comment-selection]
 [:editor "alt-h" :paredit.grow.left]
 [:editor "ctrl-shift-up" :editor.sublime.selectLinesUpward]
 [:editor "shift-pmeta-l" :editor.sublime.splitSelectionByLine]
 [:editor "ctrl-shift-w" :editor.watch.unwatch]
 [:editor "alt-n" :paredit.shrink.right]
 [:editor "ctrl-n" :editor.sublime.selectNextOccurrence]
 [:editor "pmeta-d" :editor.jump-to-definition-at-cursor]
 [:editor "shift-ctrl-space" :paredit.select.parent]
 [:editor "alt-s" :paredit.grow.right]
 [:editor "ctrl-shift-down" :editor.sublime.selectLinesDownward]
 [:editor "alt-t" :paredit.shrink.left]
 [:editor "pmeta-j" :editor.sublime.joinLines]
 [:editor "alt-w" :rolex.watch.values-over-time]
 [:editor "pmeta-l" :goto-line]
 [:editor "ctrl-shift-b" :editor.sublime.selectBetweenBrackets]
 [:editor "ctrl-w" :editor.watch.watch-selection]
 [:editor "ctrl-pmeta-up" :editor.sublime.swapLineUp]
 [:editor "alt-pmeta-up" :lt.plugins.lt-scrubber/increment-value]
 [:editor "ctrl-pmeta-down" :editor.sublime.swapLineDown]
 [:editor "pmeta-shift-backspace" :clear-inline-results]
 [:editor "alt-pmeta-down" :lt.plugins.lt-scrubber/decrement-value]
 [:editor "-pmeta-shift-s" :save-as]]
